.burger-menu {
  display: none;

  @media all and (max-width: $mobile) {
    display: block;
    position: relative;
    height: 40px;
    width: 50px;
  }
}

.burger-menu__item {
  display: none;

  @media all and (max-width: $mobile) {
    display: block;
    height: 4px;
    width: 100%;
    background-color: $white-color;
    position: absolute;
  }
}

@media all and (max-width: $mobile) {
  .burger-menu__item:first-child {
    top: 0;
  }

  .burger-menu__item:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  .burger-menu__item:last-child {
    bottom: 0;
  }
}

// @media all and (max-width: $mobile) {

// }

