.carousel__item {
  text-align: left;
  padding: 40px 45px 71px 45px;
  background-color: $blue-color;
  margin: 0 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  opacity: 0.5;
  box-sizing: border-box;
}

.carousel__item.slick-active {
  width: 500px !important;
}

.carousel__bit-quote {
  margin: 0 0 10px;
  display: inline-block;

  &:last-child {
    margin-bottom: 0;
  }
}

.carousel__author {
  font-size: 16px;
  line-height: 22px;
  font-weight: $font-weight-bold;
  font-family: $proxima-nova-font;
  color: $white-color;
  font-style: normal;
  display: block;
  margin-bottom: 15px;
}

.carousel__quote {
  color: $white-color;
  font-size: 10px;
  font-weight: $font-weight-light;
  line-height: 14px;
  font-family: $proxima-nova-font;
  margin: 0;
}

.carousel__item.slick-current {
  opacity: 1;
  width: 636px !important;
  padding: 50px 60px 56px 60px;
}

.carousel__item.slick-current .carousel__author {
  margin-bottom: 20px;
}

.carousel__item.slick-current .carousel__author {
  font-size: 20px;
  line-height: 28px;
}

.carousel__item.slick-current .carousel__quote {
  font-size: 14px;
  line-height: 20px;
}

.slick-list {
  margin: 0 -25px;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-dots {
  margin-top: 60px;
  position: static;
}

.slick-dots li {
  padding: 0;
  width: 16px;
  height: 16px;
  margin-right: 20px;
  margin-left: 0;

  &:last-child {
    margin-right: 0;
  }
}

li.slick-active button::before {
  opacity: 1 !important;
}

.slick-dots button {
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;

  &::before {
    content: "" !important;
    background-color: $white-color;
    width: 100% !important;
    height: 100% !important;
    border-radius: 3px;
    opacity: 0.4 !important;
  }
}
