.carousel__item {
  text-align: left;
  background-color: $blue-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  width: 636px;
  padding: 50px 60px 56px 60px;
  transform: scale(.85,.7);
  opacity: 0.4;

  @media all and (max-width: $tablet) {
    padding: 30px 22px 37px;
  }

  @media all and (max-width: $mobile) {
    padding: 25px 20px 25px;
  }
}

@media all and (min-width: $tablet) {
  .carousel__item.slick-current {
    width: 636px !important;
  }
}

.carousel__item.slick-current {
  transform: scale(1);
  opacity: 1;
}

.carousel__bit-quote {
  margin: 0 0 10px;
  display: inline-block;

  &:last-child {
    margin-bottom: 0;
  }
}

.carousel__author {
  font-size: 20px;
  line-height: 28px;
  font-weight: $font-weight-bold;
  font-family: $proxima-nova-font;
  color: $white-color;
  font-style: normal;
  display: block;
  margin-bottom: 20px;
}

.carousel__quote {
  color: $white-color;
  font-size: 14px;
  font-weight: $font-weight-light;
  line-height: 20px;
  font-family: $proxima-nova-font;
  margin: 0;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-dots {
  margin-top: 43px;
  position: static;
}

.slick-dots li {
  padding: 0;
  width: 16px;
  height: 16px;
  margin-right: 20px;
  margin-left: 0;

  &:last-child {
    margin-right: 0;
  }
}

li.slick-active button::before {
  opacity: 1 !important;
}

.slick-dots button {
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;

  &::before {
    content: "" !important;
    background-color: $white-color;
    width: 100% !important;
    height: 100% !important;
    border-radius: 3px;
    opacity: 0.4 !important;
  }
}
