.news-section {
  padding-top: 60px;
  padding-bottom: 120px;

  @media all and (max-width: $mobile) {
    padding-top: 120px;
    padding-bottom: 70px;
  }
}

.news-section__container {
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
  max-width: 1296px;
}

.news-section__title {
  margin-bottom: 60px;

  @media all and (max-width: $mobile) {
    margin-bottom: 40px;
  }
}
