.news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(216px, 416px));
  justify-content: center;
  grid-template-rows: auto auto;
  grid-gap: 24px;
}

.news__item {
  padding: 30px 0 30px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  min-height: 258px;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url('../img/woman-under-water.jpg') no-repeat center;
  background-size: 100%;
  border-radius: 10px;
  transition: all 0.5s ease;

  @media (min-resolution: 2dppx) {
    background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url('../img/woman-under-water@2x.jpg') no-repeat center / cover;
  }

  @media all and (max-width: $mobile) {
    padding-left: 12px;
    background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url('../img/woman-under-water-mobile.jpg') no-repeat center / cover;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(0deg, rgba(1, 138, 190, 0.5), rgba(1, 138, 190, 0.5)), url('../img/woman-under-water-mobile@2x.jpg') no-repeat center / cover;
    }
  }
}

.news__item:hover {
  background-size: 150%;
  // transition: all 0.5s linear;
}

.news__time {
  align-self: flex-start;
}

.news__description {
  color: $white-color;
  font-size: 21px;
  line-height: 29px;
  font-family: $el-messiri-font;
  font-weight: $font-weight-bold;
}
