.price {
  padding-top: 140px;
  text-align: center;
}

.price__container {
  max-width: 1076px;
  margin: 0 auto;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 134px;
  align-items: center;
  padding-top: 100px;

  @media all and (max-width: $mobile) {
    grid-template-columns: 1fr;
  }
}

.price__img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  display: block;

  @media all and (max-width: $mobile) {
    margin: 50px auto 30px;
  }
}

.price__description {
  color: $white-color;
  font-size: 21px;
  font-family: $el-messiri-font;
  line-height: 29px;
  font-weight: $font-weight-bold;
}
