.sessions {
  padding-top: 150px;

  @media all and (max-width: $mobile) {
    padding-top: 70px;
  }
}

.sessions__container {
  margin: 0 auto;
  max-width: 1296px;
  padding: 0 30px;
  text-align: center;
}

.sessions__title {
  margin-bottom: 100px;

  @media all and (max-width: $mobile) {
    margin-bottom: 60px;
  }
}
