.sessions-section {
  padding-top: 60px;
  padding-bottom: 142px;
  text-align: center;

  @media all and (max-width: $mobile) {
    padding-top: 90px;
    padding-bottom: 70px;
  }
}

.sessions-section__container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1296px;
  display: grid;
  grid-template-columns: 526px 1fr;
  grid-column-gap: 134px;
  grid-row-gap: 50px;
  align-items: center;

  @media all and (max-width: $tablet) {
    grid-template-columns: 1fr;
  }
}

.sessions-section__title {
  margin-bottom: 60px;

  @media all and (max-width: $mobile) {
    margin-bottom: 35px;
  }
}

.sessions-section__img {
  display: block;
  border-radius: 10px;
  object-fit: cover;
  max-width: 100%;

  @media all and (max-width: $mobile) {
    height: 280px;
    width: 100%;
  }
}
