.site-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;

  @media all and (max-width: $mobile) {
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: left;
    background: #306a6a;
    z-index: 1;
    flex-direction: column;
  }
}

.site-list__item {
  margin-right: 50px;

  @media all and (max-width: $mobile) {
    margin-right: 0;
    padding: 29px;
    padding-left: 40px;
  }

  &:nth-last-child(-n+2) {
    margin-right: 0;
  }
}

.site-list__link {
  font-family: $proxima-nova-font;
  font-size: $font-size-s;
  color: $white-color;
  font-weight: $font-weight-regular;
  display: block;
  line-height: 19px;
  padding: 5px 0;

  @media all and (max-width: $mobile) {
    font-size: 30px;
  }
}

.site-list__item-btn {
  display: none;

  @media all and (max-width: $mobile) {
    display: block;
    border-top: 1px solid gray;
    padding: 55px 0;
    padding-left: 40px;
  }
}

  .site-list__btn {
    font-size: 30px !important;
  }

