.site-list {
  padding: 0;
  margin: 0;
  left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  min-width: 320px;
  flex: 1 1 auto;

  @media all and (max-width: $mobile) {
    flex-wrap: nowrap;
  }
}

.site-list__item {
  margin-right: 50px;

  @media all and (max-width: $mobile) {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }

  &:nth-last-child(-n+2) {
    margin-right: 0;
  }
}

.site-list__link {
  font-family: $proxima-nova-font;
  font-size: $font-size-s;
  color: $white-color;
  font-weight: $font-weight-regular;
  display: block;
  line-height: 19px;
  padding: 5px 0;

  &:hover {
    color: $blue-color;
  }

  @media all and (max-width: $mobile) {
    font-size: 25px;
    padding: 35px 0;
    background: #306a6a;

    &:hover {
      color: $white-color;
      background-color: #1a9d9d;
    }
  }
}

.site-list__item-btn {
  display: none;

  @media all and (max-width: $mobile) {
    display: block;
    border-top: 1px solid gray;
    padding: 40px 0;
    width: 100%;
    background: #306a6a;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

  .site-list__btn {
    font-size: 25px !important;
  }

