.site-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
}

.site-list__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.site-list__link {
  font-family: $proxima-nova-font;
  font-size: $font-size-s;
  color: $white-color;
  font-weight: $font-weight-regular;
  display: block;
  line-height: 19px;
}
